/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* PANTALLA DE CARGA */
#loader {
    position: fixed;
    inset: 0;
    background: linear-gradient(180deg, #bfe9ff, #ffffff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: ocultar 0.5s ease forwards;
    animation-delay: 2.5s;
}

/* ESTELA GIRANDO + BOTANDO */
.estela {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top: 6px solid #6a00ff;
    animation: girar 1s linear infinite, botar 0.8s ease-in-out infinite;
    margin-bottom: 25px;
}

/* BARRA DE CARGA */
.barra {
    width: 220px;
    height: 8px;
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.progreso {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #6a00ff, #00c3ff);
    animation: cargar 2s ease forwards;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 18px 30px;
    background: rgba(255,255,255,0.85);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #ccc;
}

nav a {
    color: #003366;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: #6a00ff;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(
        180deg,
        #87cefa,
        #eaf6ff
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* AVATAR */
.hero img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow:
        0 0 25px rgba(106,0,255,0.4),
        0 0 60px rgba(0,195,255,0.3);
    background: white;
}

/* NOMBRE */
.hero h1 {
    margin-top: 20px;
    font-size: 42px;
    color: #003366;
    text-shadow: 2px 2px 0px #ffffff;
}

/* ANIMACIONES */
@keyframes girar {
    to { transform: rotate(360deg); }
}

@keyframes botar {
    0%,100% { transform: translateY(0); }
    50% { transform: translateY(-12px); }
}

@keyframes cargar {
    to { width: 100%; }
}

@keyframes ocultar {
    to {
        opacity: 0;
        visibility: hidden;
    }
}
